<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dota.pearl18">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- TODO: Update API Key (Manifest) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.dota.pearl18.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dota.pearl18.activities.ContactsActivity"
            android:label="Contact Us"
            android:parentActivityName="com.dota.pearl18.activities.MainActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.GuideActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.MapsActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.TextDisplayActivity"
          android:screenOrientation="portrait"/>
        <activity
            android:name="com.dota.pearl18.activities.CreditsActivity"
            android:label="App Credits"
            android:parentActivityName="com.dota.pearl18.activities.MainActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.EventsActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.ScheduleActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.QRScannerActivity" />
        <activity android:name="com.dota.pearl18.activities.EventsListActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.DetailsActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.ArticlesActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.ProshowActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.ArticleDisplayActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.NewsActivity"
          android:screenOrientation="portrait"/>
        <activity android:name="com.dota.pearl18.activities.FeedActivity"
          android:screenOrientation="portrait"/>

        <service
            android:name="com.dota.pearl18.sync.NewsFirebaseJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>